@page "/42"
@inject HttpClient Http

<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 Space text-right">
        What is the second 16-bit word of each file of TIFF format?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 Space" >
        <p>What is the Atmoic number of molybdenum?</p>
    </div>
    <div class="rounded shadow p-3 col-sm m-3 Space">
        How much cents you pay for 21 bread rolls if one costs 2 cents?
    </div>
</div>
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 Space">
        What do you get when you multiply six by nine?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 Space">
        <h3 class="text-center">42</h3>
        <p class="text-center">THE ANSWER TO LIFE, UNIVERSE AND EVERYTHING</p>
    </div>
    <div class="rounded shadow p-3 col-sm m-3 Space">
        What is the angle that rainbow is produced at?
    </div>
</div>
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 Space">
        What age is James Corgon in 2021?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 Space">
        How long in minutes do the three best-selling music albums – Michael Jackson's Thriller, AC/DC's Back in Black and Pink Floyd's The Dark Side of the Moon lasts?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 Space">
        At what age did Elvis Presley Died?
    </div>
</div>

@code {

}
