@page "/42"
@inject HttpClient Http

<div class="rounded shadow p-3 Space">
    <h3 class="text-center">42</h3>
    <p class="text-center">THE ANSWER TO LIFE, UNIVERSE AND EVERYTHING</p>
</div>
<!--3-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        What is the second 16-bit word of each file of TIFF format?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        <p>What is the Atomic number of molybdenum?</p>
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        How much cents you pay for 21 bread rolls if one costs 2 cents?
    </div>
</div>
<!--6-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        What do you get when you multiply six by nine?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        How many grandchildred did Queen Victoria's and her husband Prince Albert had?
    </div>

    <div class="rounded shadow p-3 col-sm m-3">
        What is the angle that rainbow is produced at?
    </div>
</div>
<!--9-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        What age is James Corgon in 2021?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        How long in minutes do the three best-selling music albums – Michael Jackson's Thriller, AC/DC's Back in Black and Pink Floyd's The Dark Side of the Moon lasts?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        At what age did Elvis Presley Died?
    </div>
</div>
<!--12-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        How many lines per page did the world's first book printed by movable type from the Gutenberg Bible had?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        On which page of Harry Potter and the Philosopher's Stone, did Harry discovers that he's a wizard?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        How many questions do this page have? 
    </div>
</div>
<!--15-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        How many minutes, did the Doctor Who episode entitled "42" lasted?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        At what speed (km/hour) Titanic was travelling when it collided with an iceberg.
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        Of which floor in east Asia, in tall buildings are people often avoiding because of tetraphobia?
    </div>
</div>
<!--18-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        How many guests each year are in BBC Radio 4's Desert Island Discs since 1942.
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        What is the name of Toy Story character Buzz Lightyear's spaceship?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        What was the number of Fox Mulder's apartment in the US TV series The X Files?
    </div>
</div>
<!--21-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        What was the of the youngest president of the United States,Theodore Roosevelt, when he was elected?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        What is called the building of the firm's San Francisco complex of The office of Google's chief executive Eric Schmidt?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        At what hieght in 1000 feet, the Bell-X1 rocket plane Glamorous Glennis piloted by Chuck Yeager, first broke the sound barrier?
    </div>
</div>
<!--24-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        How many sticks of dynamite in milions, were in the destructive power of the atomic bomb that devastated Nagasaki in Japan?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        How many per cent of the recommended daily intake of salt do a single Big Mac contains?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        How many laws do Cricket have?
    </div>
</div>
<!--27-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        On what page of Frankenstein, Victor Frankenstein reveals that he is able to create life?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        For how many hours a potion that allows for her to be in a death-like coma last long In Shakespeare's Romeo and Juliet, Friar Laurence gives Juliet?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        What type of vacuum tube was one of the most popular audio output amplifiers of the 1930s?
    </div>
</div>
<!--30-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        How long in kilometers is the marathon course?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        How many balls in thousands were used at Wimbledon in 2010?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
         How old was Dodi Fayed when he was killed alongside Princess Diana?
    </div>
</div>
<!--33-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        For how many months it is prophesised will the beast hold dominion over the earth in the Book of Revelation?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        How many passengers did the Moorgate Tube disaster of 1975 killed?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        What is called the recently acquired office space by growing numbers of Large Hadron Collider scientists?
    </div>
</div>
<!--36-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        How many illustrations do have Lewis Carroll's Alice's Adventures in Wonderland?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        What is the favourite number of Dr House, the American television doctor played by Hugh Laurie?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        How many US gallons are there in a barrel of oil.
    </div>
</div>
<!--39-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        What rule in Alice's Adventures in Wonderland states "All persons more than a mile high to leave the court?"
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        What was labelled on the door in the series Supernatural, the episode "Inside Man" that leads to the gate of heaven?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        What is called the song about life and death on Coldplay's Viva La Vida or Death and All His Friends?
    </div>
</div>
<!--42-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        What is the code for the asterisk symbol, which signifies a wildcard character on the keyboard.
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        In how many territories is the map divided in Risk – the board game about world domination?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        Is the number 42 the answer to life, universe and everything?
    </div>
</div>

@code {

}
