@page "/42"
@inject HttpClient Http

<div class="rounded shadow p-3 Space position-sticky" style="top:0">
    <h3 class="text-center">42</h3>
    <p class="text-center">THE ANSWER TO LIFE, UNIVERSE AND EVERYTHING</p>
</div>
<!--3-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        What is the second 16-bit word of each file of TIFF format?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        <p>What is the Atmoic number of molybdenum?</p>
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        How much cents you pay for 21 bread rolls if one costs 2 cents?
    </div>
</div>
<!--6-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        What do you get when you multiply six by nine?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        How many grandchildred did Queen Victoria's and her husband Prince Albert had?
    </div>

    <div class="rounded shadow p-3 col-sm m-3">
        What is the angle that rainbow is produced at?
    </div>
</div>
<!--9-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        What age is James Corgon in 2021?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        How long in minutes do the three best-selling music albums – Michael Jackson's Thriller, AC/DC's Back in Black and Pink Floyd's The Dark Side of the Moon lasts?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        At what age did Elvis Presley Died?
    </div>
</div>
<!--12-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        How many lines per page did the world's first book printed by movable type from the Gutenberg Bible had?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        On which page of Harry Potter and the Philosopher's Stone, did Harry discovers that he's a wizard?
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        How many questions do this page have? 
    </div>
</div>
<!--15-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        How many minutes, did the Doctor Who episode entitled "42" lasted?
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        At what speed (km/hour) Titanic was travelling when it collided with an iceberg.
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        Of which floor in east Asia, in tall buildings are people often avoiding because of tetraphobia?
    </div>
</div>
<!--18-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        How many guests each year are in BBC Radio 4's Desert Island Discs since 1942.
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        At what speed (km/hour) Titanic was travelling when it collided with an iceberg.
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        Of which floor in east Asia, in tall buildings are people often avoiding because of tetraphobia?
    </div>
</div>
<!--21-->
<div class="row">
    <div class="rounded shadow p-3 col-sm m-3 text-right">
        How many guests each year are in BBC Radio 4's Desert Island Discs since 1942.
    </div>
    <div class="rounded shadow p-3 col-sm m-3 text-center">
        At what speed (km/hour) Titanic was travelling when it collided with an iceberg.
    </div>
    <div class="rounded shadow p-3 col-sm m-3">
        Of which floor in east Asia, in tall buildings are people often avoiding because of tetraphobia?
    </div>
</div>
<!--24-->
<!--27-->
<!--30-->
<!--33-->
<!--36-->
<!--39-->
<!--42-->

@code {

}
