@page "/"

<div class="w-100 h-100 justify-content-center d-flex align-items-center" style="background-image: url(https://www.sciencemuseum.org.uk/sites/default/files/styles/social_facebook/public/2017-08/hidden-universe-a-hero.jpg?itok=zOjBki7q);background-position: center;background-size: cover;">
    <div class="text-center w-50 rounded" style="color:white; background:rgba(0,0,0,0.5)">
        <h1>42</h1>
        <h2>THE ANSWER TO LIFE, UNIVERSE AND EVERYTHING</h2>
    </div>
    <img 
        class="img-fluid d-none" 
        src="https://1.bp.blogspot.com/-rtChtxcF-2U/VxcHGfTvZxI/AAAAAAAADu0/JjU2LjwiiPMxv-cFwpYk1vsEZ4CTgnheACLcB/s1600/the_hitchhiker_s_guide_to_the_galaxy_wallpaper_by_lucaszanella-d6821pm.png" />
</div>
