@page "/Rainbowhunter"

<div class="w-100 h-100 d-flex align-items-center p-3" style="background-image: url(https://wallup.net/wp-content/uploads/2019/09/311948-outer-space-nebulae.jpg); background-attachment: fixed; background-position: center; background-size: cover ">
    <a href="http://rainbowhunter.azurewebsites.net/">
        <img src="/img/Rainbow.png" alt="Alternate Text" class="img-fluid rounded shadow imgSpeci"/>
    </a>
    
</div>

@code {

}
