@inherits LayoutComponentBase
<div style="height: 100vh; width: 100%; background-color: #d0cece" class="row m-0">
    <div class="col-sm-9 d-flex justify-content-center" style="background-image: url(/img/Seizomat.png); background-size: cover; background-position: center; background-color: #e0e0e0;margin:0px -10px">
        <div class="main p-3 rounded m-5 shadow" style="background-color:white;">

            <div class="w-100 h-100 rounded overflow-auto p-3" style="margin:0">
                @Body
            </div>
        </div>
    </div>
    
    <div class="col-sm-3 p-0" style="">
        <NavMenu />
    </div>
</div>