@inherits LayoutComponentBase
<div style="height: 100vh; width: 100%; background-color: #d0cece" class="row m-0">
    <div class="col-sm-9 d-flex justify-content-center p-0 d-flex align-items-center" style="background-color: #e0e0e0;">
        <img src="/img/SeizomatL.png" alt="Alternate Text" style="max-height:100vh;width:auto" />
        <div class="main p-3 rounded shadow overflow-auto" style="background-color:white;max-height:90vh">

            <div class="w-100 rounded overflow-auto p-3" style="margin:0;max-height:100%">
                @Body
            </div>
        </div>
        <img src="/img/SeizomatR.png" alt="Alternate Text" style="height:100vh;width:auto" />
    </div>
    
    <div class="col-sm-3 p-0" style="position:sticky;top:0;left:0;bottom:0">
        <NavMenu />
    </div>
</div>